
<div class="row emailContent">
	<div class="subject">Assist Needed for {{EmailContentVM.shift.type}}: {{EmailContentVM.shift.date}} </div>

	<div class="body">
		Team, 
		<br>
		We need an assist for a {{EmailContentVM.shift.type}} on {{EmailContentVM.shift.date}}. Are you available? 
		<br>
		Event: {{EmailContentVM.shift.type}}
		<br>
		Event Date: {{EmailContentVM.shift.date}}
		<br>
		Event Time: {{EmailContentVM.shift.start}} - {{EmailContentVM.shift.end}}
		<br>
		Photographer Call Time: 
		<br>

		Schedulers<br>

	</div>
</div>

<div class="row">
	<button>Send</button>
</div>
