<div class="login row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div ng-hide="LoginVM.isAuthenticated()">
            <button class="ms-Button" ng-click="LoginVM.login()">
                <span class="ms-Button-label">Log In</span>
            </button>
        </div>
        <div ng-show="LoginVM.isAuthenticated()">
            <h3 class="ms-font-xxl ms-fontWeight-semibold">Hi, {{ LoginVM.displayName }}!</h3>
            <!--<div class="ms-TextField">-->
                <!--<input ng-model="LoginVM.emailAddress" class="ms-TextField-field">-->
            <!--</div>-->
            <button class="ms-Button" ng-click="LoginVM.sendMail()">
                <span class="ms-Button-label">Send mail</span>
            </button>
            <div ng-show="LoginVM.requestSuccess && LoginVM.requestFinished">
                <p class="ms-font-m ms-fontColor-green">Successfully sent an email to {{ LoginVM.emailAddressSent }}!</p>
            </div>
            <div ng-show="!LoginVM.requestSuccess && LoginVM.requestFinished">
                <p class="ms-font-m ms-fontColor-redDark">Something went wrong, couldn't send an email.</p>
            </div>
        </div>
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-2">
        <button ng-show="LoginVM.isAuthenticated()" ng-click="LoginVM.logout()"> Disconnect</button>
    </div>
</div>