<div class="row dates">
		<div class="col-md-4">
			<h5>Date</h5>
		  	<div class="input-group"
				moment-picker="DateAndTimeVM.date"
				start-view="month"
				format="LL">

				<input class="form-control"
				    placeholder="Select a date"
				    ng-model="DateAndTimeVM.date"
				    ng-model-options="{ updateOn: 'blur' }">
			</div>
		</div>

		<div class="col-md-4">
			<h5>Start</h5>
		  	<div class="input-group"
				moment-picker="DateAndTimeVM.start"
				format="LT"
				>

				<input class="form-control"
				    placeholder="Select a time"
				    ng-model="DateAndTimeVM.start"
				    ng-model-options="{ updateOn: 'blur' }">
			</div>
		</div>

	  	<div class="col-md-4">
	  		<h5>End</h5>
		  	<div class="input-group"
				moment-picker="DateAndTimeVM.end"
				format="LT"
				>

				<input class="form-control"
				    placeholder="Select a time"
				    ng-model="DateAndTimeVM.end"
				    ng-model-options="{ updateOn: 'blur' }">
			</div>
		</div>
	</div>