<email-content></email-content>

<div class="create col-md-12">

	<div class="row">
		<div class="eventType col-md-8">
			<label class="radio-inline">
		      	<input type="radio" ng-model="CreateVM.shift.type" value="bridal">Bridal
		    </label>
		    <label class="radio-inline">
		      	<input type="radio" ng-model="CreateVM.shift.type" value="family">Family
		    </label>
		    <label class="radio-inline">
		      	<input type="radio" ng-model="CreateVM.shift.type" value="ols">OLS
		    </label>
		    <label class="radio-inline">
		      	<input type="radio" ng-model="CreateVM.shift.type" value="mmdGroup">MMD/Group
		    </label>
		    <label class="radio-inline">
		      	<input type="radio" name="all">Send All
		    </label>

		   {{CreateVM.shift.type}} 
		</div>
	</div>

	<div class="row">
		<div class="col-md-4"> 
			<h5>Start</h5>
		  	<div class="input-group"
				moment-picker="CreateVM.shift.start"
				format="LT">
				
				<input class="form-control"
				    placeholder="Select a time"
				    ng-model="CreateVM.shift.start"
				    ng-model-options="{ updateOn: 'blur' }">
			</div>
		</div>
	  	
	  	<div class="col-md-4">
	  		<h5>End</h5>
		  	<div class="input-group"
				moment-picker="CreateVM.shift.end"
				format="LT">
			
				<input class="form-control"
				    placeholder="Select a time"
				    ng-model="CreateVM.shift.end"
				    ng-model-options="{ updateOn: 'blur' }">
			</div>
		</div>
	</div>



	<div class="row">
		<div class="email col-md-8">
			Email
		</div>
	</div>

	<div class="row">
		<button>Send</button>
	</div>
</div>