

<div class="create col-md-12">

	<div class="row">
		<div class="eventType col-md-8">
			<label class="radio-inline">
		      	<input type="radio" ng-model="CreateVM.shift.type" value="Bridal">Bridal
		    </label>
		    <label class="radio-inline">
		      	<input type="radio" ng-model="CreateVM.shift.type" value="Family">Family
		    </label>
		    <label class="radio-inline">
		      	<input type="radio" ng-model="CreateVM.shift.type" value="OLS">OLS
		    </label>
		    <label class="radio-inline">
		      	<input type="radio" ng-model="CreateVM.shift.type" value="MMD/Group">MMD/Group
		    </label>
		    <label class="radio-inline">
		      	<input type="radio" name="all">Send All
		    </label>

		</div>
	</div>

	<div class="row">
		<div class="col-md-4"> 
			<h5>Date</h5>
		  	<div class="input-group"
				moment-picker="CreateVM.shift.date"
				start-view="month"
				format="LL">
				
				<input class="form-control"
				    placeholder="Select a date"
				    ng-model="CreateVM.shift.date"
				    ng-model-options="{ updateOn: 'blur' }">
			</div>
		</div>

		<div class="col-md-4"> 
			<h5>Start</h5>
		  	<div class="input-group"
				moment-picker="CreateVM.shift.start"
				format="LT"
				>
				
				<input class="form-control"
				    placeholder="Select a time"
				    ng-model="CreateVM.shift.start"
				    ng-model-options="{ updateOn: 'blur' }">
			</div>
		</div>
	  	
	  	<div class="col-md-4">
	  		<h5>End</h5>
		  	<div class="input-group"
				moment-picker="CreateVM.shift.end"
				format="LT"
				>
			
				<input class="form-control"
				    placeholder="Select a time"
				    ng-model="CreateVM.shift.end"
				    ng-model-options="{ updateOn: 'blur' }">
			</div>
		</div>
	</div>
	
	<div class="row emailContent ">
		<div class="col-md-8">
			<div class="subject">Assist Needed for {{CreateVM.shift.type}}: {{CreateVM.shift.date | date : "shortDate"}} </div>

			<div class="body">
				Team, 
				<br><br>
				We need an assist for a {{CreateVM.shift.type}} on {{CreateVM.shift.date}}. Are you available? 
				<br><br>
				Event: {{CreateVM.shift.type}}
				<br>
				Event Date: {{CreateVM.shift.date}}
				<br>
				Event Time: {{CreateVM.shift.start}} - {{CreateVM.shift.end}}
				<br>
				Photographer Call Time: 
				<br><br><br>
				
				<div class="signature">
					Schedulers<br>
					Disney Fine Art Photography<br>
					Part of Disney Event Group<br>
					Phone: 407.827.1240<br>
				</div>
				

			</div>
		</div>
	</div>

<div class="row">
	<button>Send</button>
</div>
	
</div>