<div class="row">
    <div class="eventType col-md-12">
        <label class="radio-inline">
            <input type="radio" ng-model="MailingVM.mailList" value="bridal">Bridal
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="MailingVM.mailList" value="family">Family
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="MailingVM.mailList" value="ols">OLS
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="MailingVM.mailList" value="mmd">MMD/Group
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="MailingVM.mailList" value="all">Send All
        </label>
    </div>
</div>