<div class="row">
    <div class="eventType col-md-12">
        <label class="radio-inline">
            <input type="radio" ng-model="CreateVM.shift.type" value="Bridal">Bridal
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="CreateVM.shift.type" value="Family">Family
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="CreateVM.shift.type" value="OLS">OLS
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="CreateVM.shift.type" value="MMD/Group">MMD/Group
        </label>
        <label class="radio-inline">
            <input type="radio" name="all">Send All
        </label>

    </div>
</div>