<div class="row">
    <div class="eventType col-md-12">
        <label class="radio-inline">
            <input type="radio" ng-model="MailingVM.mailList" value="Bridal">Bridal
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="MailingVM.mailList" value="Family">Family
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="MailingVM.mailList" value="OLS">OLS
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="MailingVM.mailList" value="MMD/Group">MMD/Group
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="MailingVM.mailList" value="all">Send All
        </label>
    </div>
</div>